body { /* je sélectionne le body */
    /* les variables commencent toujours pas -- et la c'est dans body ce qui signifie que elles pourront être utilisé dans tout ce qui se trouve dans le body. que ce soit des div, des ul li etc...*/
    --color: red; /* je créé une variable du nom de --color qui mettra du rouge */
    --pad: 20px; /* je créé une variable du nom de --pad qui conte 20px.*/
}

p {
    color: var(--color); /* applique la couleur rouge au texte */
    padding-top: var(--pad); /* applique en padding top 20 px */
    margin-left: var(--pad); /* applique à gauche du texte 20 px */
    font-size: var(--pad); /* applique 20px à la taille du texte */
}